/* styles/film-list.css */
@import url('main.css');

#filmList {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchBar {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: border-color 0.3s;
}

#searchBar:focus {
    border-color: #1B9AAA;
    outline: none;
}

#filmsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.filmItem {
    position: relative;
    width: calc(100% / 6 - 20px);
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.filmItem:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.filmItem img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.filmTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #FFFFFF; /* White */
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 100%;
}

.filmItem:hover .filmTitle {
    opacity: 1;
}
