@import url('main.css');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EFC3F5;
    margin: 0;
    padding: 0;
}

#filmList {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

#searchBar {
    width: 80%;
    max-width: 600px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: border-color 0.3s;
    position: fixed;
    top: 70px;
    z-index: 1000;
    background-color: #ffffff;
}

#searchBar:focus {
    border-color: #EFC3F5;
    outline: none;
}

#filmsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 100px;
    overflow-y: auto;
    padding-top: 20px;
    height: calc(100vh - 140px);
}

.filmItem {
    position: relative;
    width: calc(100% / 6 - 20px);
    height: 300px;
    background-color: #000000;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.filmItem:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.filmItem img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.filmTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    color: #000000;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 100%;
}

.filmItem:hover .filmTitle {
    opacity: 1;
}

@media (max-width: 1024px) {
    .filmItem {
        width: calc(100% / 4 - 20px);
        height: 250px;
    }

    #searchBar {
        top: 60px;
    }

    #filmsContainer {
        margin-top: 90px;
    }
}

@media (max-width: 768px) {
    .filmItem {
        width: calc(100% / 2 - 20px);
        height: 200px;
    }

    #searchBar {
        top: 50px;
    }

    #filmsContainer {
        margin-top: 80px;
    }
}

@media (max-width: 480px) {
    .filmItem {
        width: calc(100% - 20px);
        height: 150px;
    }

    #searchBar {
        top: 40px;
    }

    #filmsContainer {
        margin-top: 70px;
    }
}
